---
layout: "page"
header_img:
  url: "assets/img/taxonomy.jpg"
  author: "Manuele Sangalli"

generator: "taxonomy"
max_page: 5
taxonomy_attribute: "categories"
permalink: "/:name"
---

<div class="taxonomy-page-header">
    <h1>{{ page.term|capitalize}} <small>category posts</small></h1>
</div>

{% for post in page.pagination.items %}
<div class="post-preview">
    <a href="{{ site.url }}{{ post.url }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date('F jS \\a\\t g:ia') }} </p>

    <p class="text-info">
        {% for category in post.categories %}
            <a class="taxonomy-link" href="{{ category }}" >[{{ category }}] </a>
        {% endfor %}
    </p>
</div>
<hr>
{% endfor %}

{% include "paginator.html" %}
